.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: coral;
    
}
.conversor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    padding-left: 10%;
    padding-right: 10%;
    
}

p.resultado {
    color: goldenrod;
}

.grafico {
    background-color: bisque;
}